# Objective

Help Microsoft choose waht type of movies they should implement

To help choose which movies are best for Microsoft to start with, we should consider using

**movie genres**

**production budget**

**revenue(gross)**

**votes/ratings**

## Methodology

Some areas you can look to examine are movie genres (Thriller, Drama, Comedy, etc.), movie ratings, budget, social media discussion, and critic or user reviews. Your team gets to define its _own questions_ about the movie industry and then use its knowledge of descriptive statistics and the EDA process to try and answer those questions. <br>
Questions to consider:
- How are you defining _success_ ?
 - Return on investment?
 - Revenue?
 - Garunteed box-office hit?
 - Social media buzz?

In [12]:
# Import all libraries
import pandas as pd
import matplotlib.pylab as plt
import numpy as np
import re

In [13]:
# Creating data-frames out of the existing files and assigning them names
movie_gross_df = pd.read_csv("Data/bom.movie_gross.csv.gz")
name_basics_df = pd.read_csv("Data/imdb.name.basics.csv.gz")
akas_df = pd.read_csv("Data/imdb.title.akas.csv.gz")
basics_df = pd.read_csv("Data/imdb.title.basics.csv.gz")
crew_df = pd.read_csv("Data/imdb.title.crew.csv.gz")
principals_df = pd.read_csv("Data/imdb.title.principals.csv.gz")
ratings_df = pd.read_csv("Data/imdb.title.ratings.csv.gz")
movies_df = pd.read_csv("Data/tmdb.movies.csv.gz")
movie_budget_df = pd.read_csv("Data/tn.movie_budgets.csv.gz")
rt_info_df = pd.read_csv("Data/rt.movie_info.tsv.gz", sep='\t')
rt_reviews_df = pd.read_csv("Data/rt.reviews.tsv.gz", sep='\t', encoding="unicode_escape")

# Data Description

**movie_budget_df** 
- release date 
- movie name
- production budget
- demestic gross
- worldwide gross

**movie_gross_df**
- movie name
- studio name
- domestic gross
- foriegn gross
- year of movie

**movies_df**
- genre ids
- the id
- original language filmed in
- movie name
- popularity
- release date
- vote
- vote count

**name_basics_df**

**akas_df**

**basics_df**
- primary and original title
- start year
- runtime in mins
- genre

**crew_df**
- directors
- writers

**principals_df**

**ratings_df**
- average num. of ratings
- num. of votes

**rt_reviews_df**
- review
- rating
- fresh/rotten
- critic/top critic
- publisher
- date

**rt_info_df**
- synopsis
- movie rating
- genre
- director
- writer
- release date
- dvd date
- currency
- box office
- runtime
- studio

# Data that are similar

movie_budget_df & movie_gross_df

movies_df & ratings_df

# Data To Use

**movie_gross_df**

**movie_budget_df**

# What To Show
Name of Movie

**Genre**

**Movie Rating**

Release Date - Not a priority

**Production Budget/Gross Revenue/ROI**

Ratings

In [14]:
# data_on_movies = pd.concat([movie_gross_df, name_basics_df, crew_df, pricipals_df, ratings_df, movies_df, movie_budget_df], sort=True)

In [15]:
# Join movie_budget and movie_gross
budget_df = pd.concat([movie_budget_df, movie_gross_df], axis=1, join="inner")

In [16]:
# New column with ROI using worldwide gross revenue and production budget

In [17]:
# Un-format string "$" and "," to a plain string of numbers
def remove_format(dataframe):
    for strings in dataframe:
        dataframe.replace("[\$,)]", "", regex=True, inplace=True)
        
# -----------------------Second Way-------------------------
        
# # Un-format string "$" and "," to a plain string of numbers
# movie_budget_df['production_budget'] = movie_budget_df['production_budget'].replace('[\$,)]', "", regex=True)
# movie_budget_df['worldwide_gross'] = movie_budget_df['worldwide_gross'].replace('[\$,)]', "", regex=True)
# movie_budget_df['domestic_gross'] = movie_budget_df['domestic_gross'].replace('[\$,)]', "", regex=True)

In [18]:
remove_format(movie_budget_df)

In [19]:
movie_budget_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,Dec 18 2009,Avatar,425000000,760507625,2776345279
1,2,May 20 2011,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
2,3,Jun 7 2019,Dark Phoenix,350000000,42762350,149762350
3,4,May 1 2015,Avengers: Age of Ultron,330600000,459005868,1403013963
4,5,Dec 15 2017,Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747