# Objective

Help Microsoft choose waht type of movies they should implement

To help choose which movies are best for Microsoft to start with, we should consider using

**movie genres**

**production budget**

**revenue(gross)**

**votes/ratings**

## Methodology

Some areas you can look to examine are movie genres (Thriller, Drama, Comedy, etc.), movie ratings, budget, social media discussion, and critic or user reviews. Your team gets to define its _own questions_ about the movie industry and then use its knowledge of descriptive statistics and the EDA process to try and answer those questions. <br>
Questions to consider:
- How are you defining _success_ ?
 - Return on investment?
 - Revenue?
 - Garunteed box-office hit?
 - Social media buzz?

In [505]:
# Import all libraries
import pandas as pd
import matplotlib.pylab as plt
import numpy as np
import re

In [506]:
# Creating data-frames out of the existing files and assigning them names
movie_gross_df = pd.read_csv("Data/bom.movie_gross.csv.gz")
name_basics_df = pd.read_csv("Data/imdb.name.basics.csv.gz")
akas_df = pd.read_csv("Data/imdb.title.akas.csv.gz")
basics_df = pd.read_csv("Data/imdb.title.basics.csv.gz")
crew_df = pd.read_csv("Data/imdb.title.crew.csv.gz")
principals_df = pd.read_csv("Data/imdb.title.principals.csv.gz")
ratings_df = pd.read_csv("Data/imdb.title.ratings.csv.gz")
movies_df = pd.read_csv("Data/tmdb.movies.csv.gz")
movie_budget_df = pd.read_csv("Data/tn.movie_budgets.csv.gz")
rt_info_df = pd.read_csv("Data/rt.movie_info.tsv.gz", sep='\t')
rt_reviews_df = pd.read_csv("Data/rt.reviews.tsv.gz", sep='\t', encoding="unicode_escape")

# Data Description

**movie_budget_df** 
- release date 
- movie name
- production budget
- domestic gross
- worldwide gross

**movie_gross_df**
- movie name
- studio name
- domestic gross
- foriegn gross
- year of movie

**movies_df**
- genre ids
- the id
- original language filmed in
- movie name
- popularity
- release date
- vote
- vote count

**name_basics_df**

**akas_df**

**basics_df**
- primary and original title
- start year
- runtime in mins
- genre

**crew_df**
- directors
- writers

**principals_df**

**ratings_df**
- average num. of ratings
- num. of votes

**rt_reviews_df**
- review
- rating
- fresh/rotten
- critic/top critic
- publisher
- date

**rt_info_df**
- synopsis
- movie rating
- genre
- director
- writer
- release date
- dvd date
- currency
- box office
- runtime
- studio

# Data that are similar

movie_budget_df & movie_gross_df

movies_df & ratings_df

# Data To Use

**movie_gross_df**

**movie_budget_df**

**movies_df**

# What To Show
Name of Movie

**Genre**

**Movie Rating**

Release Date - Not a priority

**Production Budget/Gross Revenue/ROI**

Ratings

## Game-Plane
- **From The movie_budget_df**

 - The **first** data visulization will show domestic ROI

 - The **second** data visualization will show worldwide ROI
 
- **From The

# **Code Starts Here**

### What Data-Frames Were Chosen
We chose two dataframes to use, **movie_budget_df** and **movie_gross_df**

## Problem
The **movie_budget_df** had special characters, "$" and ",", that the other dataframe, **movie_gross_df** did not.

We are not able to merge because of these differences

## Solution
We created a function that allows us to input any dataframe and take out the commas and USD signs

In [507]:
# Gitting rid of "$" and "," in a dataframe
def remove_format(dataframe):
    for strings in dataframe:
        dataframe.replace('[\$,)]','', regex=True, inplace=True)

In [508]:
# Removing specified characters in this dataframe
remove_format(movie_budget_df)

# Changing Data Types

## Problem
There's more Inconsistency with our dataframes. **movie_budget_df** has a dtype of int, while **movie_gross_df** had a dtype of float.

In order to merge we need to have our data as consistent as possible

## Solution
We access the **movie_budget_df** and choose our specific columns and change the dtype to a float.

Now our **movie_budget_df** has a float dtype, just like the **movie_gross_df**

In [584]:
# Changing data types to a float to match same content
movie_budget_df['production_budget']  = movie_budget_df['production_budget'].astype(float)
movie_budget_df['domestic_gross']  = movie_budget_df['domestic_gross'].astype(float)
movie_budget_df['worldwide_gross']  = movie_budget_df['worldwide_gross'].astype(float)

In [585]:
movie_budget_df.info() # Checking to see if info matches in order to merge

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 8 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null float64
domestic_gross       5782 non-null float64
worldwide_gross      5782 non-null float64
worldwide_roi        5782 non-null float64
domestic_roi         5782 non-null float64
dtypes: float64(5), int64(1), object(2)
memory usage: 361.5+ KB

In [586]:
movie_gross_df.info() # Checking to see if info matches in order to merge

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2007 entries, 0 to 3353
Data columns (total 5 columns):
movie              2007 non-null object
studio             2007 non-null object
domestic_gross     2007 non-null float64
worldwide_gross    2007 non-null object
year               2007 non-null int64
dtypes: float64(1), int64(1), object(3)
memory usage: 94.1+ KB

# Dropping Columns

## Problem
We've found missing data in **movie_gross_df**

## Solution
We use the dropna() method and set its' parameters as inplace=True. 

We set that specific key argument because that allows our changes to be inside that dataframe, acting as if it was a save and remember key.

In [587]:
# Dropping all missing values(NaN) inside the dataframe
movie_gross_df.dropna(inplace=True)

In [588]:
movie_gross_df.isna().sum() # Sums the amount of NaN's there are in each column

movie              0
studio             0
domestic_gross     0
worldwide_gross    0
year               0
dtype: int64

In [589]:
movie_budget_df.isna().sum() # Sums the amount of NaN's there are in each column

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
worldwide_roi        0
domestic_roi         0
dtype: int64

# Changing Column Names

## Problem
Not able to combine data without recieving NaN or an error because the column names were different

## Solution
Used the rename() method to change certain titles

In [590]:
# Changing column names
movie_gross_df = movie_gross_df.rename(columns={"title": "movie", "foreign_gross": "worldwide_gross"})

In [591]:
movie_budget_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,worldwide_roi,domestic_roi
0,1,Dec 18 2009,Avatar,425000000.0,760507625.0,2.776345e+09,653.257713,178.942971
1,2,May 20 2011,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,254.667286,58.710150
2,3,Jun 7 2019,Dark Phoenix,350000000.0,42762350.0,1.497624e+08,42.789243,12.217814
3,4,May 1 2015,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,424.384139,138.840250
4,5,Dec 15 2017,Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,415.369636,195.640815

# Adding 2 New Columns

## Description
Added 2 new columns that shows the ROI of worldwide and domestic

In [592]:
percent = 100 # Defining the percent for we can convert a given number into percent form

# Creating a new column that shows ROI
movie_budget_df["worldwide_roi"] = (movie_budget_df.worldwide_gross / movie_budget_df.production_budget) * percent
movie_budget_df["domestic_roi"] = (movie_budget_df.domestic_gross / movie_budget_df.production_budget) * percent

In [593]:
movie_budget_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,worldwide_roi,domestic_roi
0,1,Dec 18 2009,Avatar,425000000.0,760507625.0,2.776345e+09,653.257713,178.942971
1,2,May 20 2011,Pirates of the Caribbean: On Stranger Tides,410600000.0,241063875.0,1.045664e+09,254.667286,58.710150
2,3,Jun 7 2019,Dark Phoenix,350000000.0,42762350.0,1.497624e+08,42.789243,12.217814
3,4,May 1 2015,Avengers: Age of Ultron,330600000.0,459005868.0,1.403014e+09,424.384139,138.840250
4,5,Dec 15 2017,Star Wars Ep. VIII: The Last Jedi,317000000.0,620181382.0,1.316722e+09,415.369636,195.640815

# Looking At **rt_info_df**

## Description
Using the **rt_info_df** dataframe we can possibly make 1 or 2 data visualizations:
    
- We can use this to choose what movie rating does a specific genre usually recieve

- Or we can see a trend on what genres are being produced more in the following years, meaning, what genre is more likely to be produced, and is ok to produced now, rather than back then.

**We can choose to use 1 of these suggestions or both**

In [594]:
# Dropping all missing values, NaN.
rt_info_df.dropna(inplace=True)

In [595]:
rt_info_df.head() # We can use this to choose what movie rating does a specific genre usually recieve

# Or we can see a trend on what genres are being produced more in the following years, meaning, what genre is more likely to be produced, and is ok to produced now, rather than back then.

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
6,10,Some cast and crew from NBC's highly acclaimed...,PG-13,Comedy,Jake Kasdan,Mike White,"Jan 11, 2002","Jun 18, 2002",$,"41,032,915",82 minutes,Paramount Pictures
7,13,"Stewart Kane, an Irishman living in the Austra...",R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,"Apr 27, 2006","Oct 2, 2007",$,"224,114",123 minutes,Sony Pictures Classics
15,22,Two-time Academy Award Winner Kevin Spacey giv...,R,Comedy|Drama|Mystery and Suspense,George Hickenlooper,Norman Snider,"Dec 17, 2010","Apr 5, 2011",$,"1,039,869",108 minutes,ATO Pictures
18,25,"From ancient Japan's most enduring tale, the e...",PG-13,Action and Adventure|Drama|Science Fiction and...,Carl Erik Rinsch,Chris Morgan|Hossein Amini,"Dec 25, 2013","Apr 1, 2014",$,"20,518,224",127 minutes,Universal Pictures

# Using **movies_df**

## Description
Able to use the **movie_df** dataframe and compare which genres recieves high votes. This will allow us to see what genres people want more of

## Problem
The **movie_df** has the genre_ids column in ids/codes. The reader does not understand what the numbers in the genre_ids column of **movie_df** mean.

## Solution
Able to google genre ids and put it into a dictionary. The genre name is the key, while the values are the genre ids.

This allows us to match the ids in the dataframe to the genre dictionary's keys.

If the keys in the dictionary match the numbers/ids in the genre_id column then it will replace it with the dictionary's values, which are the genre names.

In [596]:
movies_df.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,action,12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,action,10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,action,10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,animated,862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,action,27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [597]:
genre_id_in_str = {"action": "28", "animated": "16", "documentary": "99", "drama": "18",
            "family": "10751", "fantasy": "14", "history": "36", "comedy": "35", 
            "war": "10752", "crime": "80", "music": "10402", "mystery": "9648",
            "romance": "10749", "sci fi": "878", "horror": "27",
            "TV movie": "10770", "thriller": "53", "western": "37", 
            "adventure": "12"}

In [598]:
genre_id = {"action": 28, "animated": 16, "documentary": 99, "drama": 18,
            "family": 10751, "fantasy": 14, "history": 36, "comedy": 35, 
            "war": 10752, "crime": 80, "music": 10402, "mystery": 9648,
            "romance": 10749, "sci fi": 878, "horror": 27,
            "TV movie": 10770, "thriller": 53, "western": 37, 
            "adventure": 12}

In [599]:
# Returns ALL key, value pairs in a tuple
genre_id.items()

dict_items([('action', 28), ('animated', 16), ('documentary', 99), ('drama', 18), ('family', 10751), ('fantasy', 14), ('history', 36), ('comedy', 35), ('war', 10752), ('crime', 80), ('music', 10402), ('mystery', 9648), ('romance', 10749), ('sci fi', 878), ('horror', 27), ('TV movie', 10770), ('thriller', 53), ('western', 37), ('adventure', 12)])

In [602]:
# If the genre_ids in movies_df match the values 
# in the genre id dict, replace it with the genre id dict's keys   
def fetchgenre(dataframe):
    for key, values in genre_id_in_str.items():
        for value in values:
            if value in dataframe.lower():
                return key

In [603]:
movies_df["genre_ids"] = movies_df["genre_ids"].apply(fetch_genre)

TypeError: argument of type 'NoneType' is not iterable

In [604]:
movies_df.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,action,12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,action,10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,action,10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,animated,862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,action,27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186